.button {
  border: none;
  background-color: var(--color-navigation-buttons);
  font-size: medium;
}

.button:hover {
  background-color: var(--color-navigation-buttons-hover);
  color: var(--color-navigation-buttons-text-hover);
}
