.navigation {
  height: 40px;
  display: grid;
  grid-template-columns: 120px 60px 120px;
  position: fixed;
  bottom: 0px;
  background-color: var(--color-navigation);
}

.navigation__pagination {
  display: grid;
  place-items: center;
  /* border-bottom: 1px solid black; */
  /* text-decoration:underline; */
}
